<!-- Footer -->
<footer class="footer py-3 mt-5 bg-light">
    <div class="container my-auto">
        <div class="copyright text-center my-auto mb-3">
            <span>Copyright &copy; Proyecto Fundacion Hospital San Pedro 2025</span>
        </div>
        <div class="mt-2 text-center">
            <img src="/../../img/logo_acreditacion.png" alt="" height="85" style="margin-bottom: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</footer>
<!-- End of Footer -->